.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap:20px; 
  
}
.products div{
    border: 1px solid black;
}
.boder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap:20px; 
}
.boder div{
    border: 1px solid;
}
.formatmoney{
    border:none;
    text-align: right;
}
.formatmoney p{
    border:none;
 
   }